
.far-fa-envelope{
    color: black;
  }
  
  .fas-fa-home{
    color: black;
  }
  
  .fas-fa-code{
    color: black;
  }
  
  .fas-fa-camera-retro{
    color: black;
  }
  
  .fab-fa-linkedin{
    color: black;
  }
  
  .fab-fa-github-square{
    color: black;
  }
  